.body-head {
    font-family: "Poppins", sans-serif;
  }

.navbar {
z-index: 1001;
width: 100%;
}

.navbar-nav{
  justify-content: normal;
}
.nav-item{
  margin-right: 20px;
}

@media only screen and (max-width: 1920px) {
    .navbar { 
        overflow-x: auto;
        white-space: nowrap;
        
    }

    #sideNavbar { 
        overflow-x: auto;
        white-space: nowrap;
    }
 
}

.sidenav{
  overflow: auto;
}


.nav-link.clicked {
background-color: #00B207;
width: 100%;
color: white;
}

.side-open {
position: fixed;
}

.header {
    position: relative;
    width: 100%;
    height: 770px;
  }
  
  .header .free-shipping {
    align-items: flex-start;
    gap: 100px;
    position: absolute;
    top: 791px;
    left: 92px;
    border-bottom: 0.5px solid #cccccc;
    display: inline-flex;
    background-color: var(--gray-scalewhite);
  }
  
  .header .great-support {
    align-items: center;
    gap: 16px;
    padding: 30px 0px;
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    background-color: var(--gray-scalewhite);
  }
  
  .header .img {
    max-width: 100%;
  height: auto;
  }
  
  .header .great-support-description-1 {
    position: relative;
    width: 224px;
    margin-top: -1px;
   }
  
  .header .great-support-description-2 {
    position: relative;
    width: 224px;
    color: var(--gray-scalegray-400);
  }
  
  .header .secure-payment {
    align-items: center;
    gap: 16px;
    padding: 30px 0px;
    position: relative;
    flex: 0 0 auto;
    box-shadow: inset 0px -3px 0px #00b206;
    display: inline-flex;
  }
  
  .header .secure-payment-description-1 {
    position: relative;
    width: 224px;
    margin-top: -1px; 
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 27px;
  }
  
  .header .secure-payment-description-2 {
    position: relative;
    width: 224px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    
  }
  
  .header .banner {
    margin-top: -230px;
    position: absolute;
    height: 555px;
    top: 231px;
    left: 336px;
    border-radius: 12px;
    background-position: 50% 50%;
  }
  
  .header .banner-frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 142px;
    left: 48px;
  }
  
  .header .banner-wrapper {
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
  }
  
  .header .fresh-healthy-tag-line {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: var(--heading-02-heading-02-600-font-weight);
    color: #459344;
    font-size: 48px;
    line-height:60px; 
  }
  
  .header .sale-div-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .header .vertical-line {
    position: relative;
    width: 2px;
    height: 56px;
    background-color: var(--brandingsuccess);
  }
  
  .header .sale-up-to-off-text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 500;
    color: #459344;
    font-size: 24px;
    letter-spacing: 0.72px;
    line-height: 28.8px;
  }
  
  .header .shop-now-btn {
    all: unset;
    box-sizing: border-box;
    gap: 16px;
    padding: 16px 40px;
    border-radius: 43px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--brandingsuccess);
  }
  
  .header .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    color: var(--gray-scalewhite); 
    white-space: nowrap; 
  }
  
  .header .shop-now {
    position: relative;
    width: 16.5px;
    height: 13.55px;
    margin-right: -0.75px;
  }
   
  .header .categories {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 231px;
    left: 0;
    border: 1px solid;
    border-color: var(--gray-scalegray-100);
}


 
.header .categories .category-div:hover {
    background-color: #00B207; 
    cursor: pointer;  
}
 
.header .categories .category-div:hover .category-text-wrapper {
    color: #fff;  
}

.header .categories .category-div:hover img {
    filter: brightness(0) invert(1);  
}

  
.header .category-div {
    position: relative;
    width: 312px;
    height: 56px;
}
  
.header .category-text-wrapper {
    position: absolute;
    width: 228px;
    top: 18px;
    left: 56px;
    font-size: 14px;
  }
   
  .header .category-svg {
    position: absolute;
    width: 22px;
    height: 23px;
    top: 16px;
    left: 22px;
  }


