:root {
    --gray-scalegray-900: rgba(26, 26, 26, 1);
    --gray-scalegray-400: rgba(153, 153, 153, 1);
    --gray-scalewhite: rgba(255, 255, 255, 1);
    --gray-scalegray-500: rgba(128, 128, 128, 1);
    --gren-gray-scale900: rgba(0, 38, 3, 1);
    --brandingsuccess: rgba(0, 178, 7, 1);
    --gray-scalegray-100: rgba(230, 230, 230, 1);
    --brandingsuccess-dark: rgba(44, 116, 47, 1);
    --gray-scalegray-800: rgba(51, 51, 51, 1);
    --gray-scalegray-300: rgba(179, 179, 179, 1);
    --heading-02-heading-02-600-font-weight: 600;
    
  }

