.checkout-content {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.billing-info, .order-summary {
    background-color: white;
    padding: 55px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.billing-info {
    width: 55%;
}

.order-summary {
    width: 25%;
}

.checkout-content h2{
    margin-top: 5px;
    margin-bottom: 10px;
}
.checkout-content h3 {
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.form-group label {
    width: 100%;
    margin-bottom: 5px;
    font-family: "Poppins", Helvetica;
}

/* .form-group .horizontal .label {
    width: auto;
    margin-right: 15px;
    margin-top: 10px;
    font-family: "Poppins", Helvetica;
}

.form-group .horizontal .input1 {
    flex: 1;
    margin-right: 15px;
}

.form-group .horizontal .input1:last-child {
    margin-right: 0;
} */
.form-group.horizontal {
    display: flex;
    align-items: center;
    gap: 15px; /* Adjust the spacing between items as needed */
}

.form-group.horizontal .label {
    width: auto;
    margin-right: 5px; /* Adjust the spacing between label and input as needed */
    font-family: "Poppins", Helvetica;
    margin-top: 5px;
}

.form-group.horizontal .input1 {
    flex: 1; /* This will allow the input fields to grow and shrink equally */
    margin-right: 15px;
    
}

.form-group.horizontal .input1:last-child {
    margin-right: 0; /* Remove right margin from the last input */
}

.form-group .input1, .form-group textarea {
    width: 100%;
}

.input1, .form-group select, .form-group textarea {
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
    font-family: "Poppins", Helvetica;
}
.form-group textarea {
    padding: 10%;
}


.form-group select {
    width: 20%;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    background-color: var(--brandingsuccess);
}

/* .form-group input:focus, .form-group select:focus, .form-group textarea:focus {
    border-color: var(--brandingsuccess);
} */
#ship-different{
    transform: scale(1.5);
    margin-top: 0;
    vertical-align: middle;
    border-color: var(--brandingsuccess);
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.product img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.product-name {
    flex: 1;
}

.product-price {
    font-weight: bold;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

.payment-method .form-group {
    display: flex;
    align-items: center;
}

.payment-method label {
    margin-left: 5px;
    font-family: "Poppins", Helvetica;
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .billing-info, .order-summary {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Specific CSS for the checkbox label */
.form-group-chckbox {
    display: flex;
    align-items: center;

}

.form-group-chckbox  {
    margin-left: -5px;
}
.label-ship {
    margin-left: 30px;
    margin-top: -20px;
    font-family: "Poppins", Helvetica;
}
.payment-method .form-group.horizontal1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.payment-method .form-group.horizontal1 input[type="radio"] {
    margin-right: 10px;
    width: auto; /* Adjust width as needed */
    transform: scale(1.5);
    margin-top: 10px;
    vertical-align: middle;
    border-color: red;
}

.payment-method label {
    margin-left: 25px;
    margin-top: -25px;
    font-family: "Poppins", Helvetica;

}

.payment-method label:last-child {
    margin-right: 0;
    font-family: "Poppins", Helvetica;

}
#buttn{
    background-color: var(--brandingsuccess);
    color: var(--gray-scalewhite);
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size:20px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 30%;
    transition: opacity 0.15s, background-color 1s, color 1s;
    
}
   #buttn:hover{
    opacity: 0.7;
    background-color: var(--brandingsuc);
    color: var( --gray-scalewhite);
   }
   #buttn:active{
    opacity: 0.2;
   }
   .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* padding-top: -80px; */
}
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: -50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 16% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 400px;
    border-radius: 8px;

}
.modal-content .form1 { 
	width: 700px; 
	padding: 20px; 
	background: #fff; 
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2); 
} 
.modal-content .form1 .row .col { 
	flex: 1 1 250px; 
} 

.modal-content .form1 .row { 
	display: flex; 
	flex-wrap: wrap; 
	gap: 15px; 
} 
/* Close button */
.close {
    color: #aaa;
    float: right;
    margin-top: -5px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

  }
  .close1 {
    color: #aaa;
    float: right;
    margin-top: -5px;
    font-size: 28px;
    font-weight: bold;
    margin-left: 780px;

  }
  
  .close:hover, .close1:hover, .close1:focus,
  .close:focus {
    color: var(--brandingsuccess);
    text-decoration: none;
    cursor: pointer;
  }
  
/* .modal-content1 {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
} */
.payment-option, .payment-option1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition */
    margin-left: 60px;
    margin-right: -50px;
    transition: opacity 0.15s, background-color 1s, color 1s;

  }
  
  .payment-option:hover, .payment-option1:hover {
    opacity: 0.7;
    background-color: var(--brandingsuc);
    color: var( --gray-scalewhite);
  }
  .payment-option:active, .payment-option1:active{
    opacity: 0.2;
   }
.proceed-checkout { 
	width: 100%; 
	padding: 12px; 
	font-size: 17px; 
	color: #fff; 
	margin-top: 5px; 
	cursor: pointer; 
	letter-spacing: 1px; 
	background-color: var(--brandingsuccess);
	color: var(--gray-scalewhite);
	border: none;
    border-radius: 8px;
	
	transition: opacity 0.15s, background-color 1s, color 1s;
   }
   .proceed-checkout:hover{
	opacity: 0.7;
	background-color: var(--brandingsuc);
	color: var( --gray-scalewhite);
   }
   .proceed-checkout:active{
	opacity: 0.2;
   }
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .billing-info, .order-summary {
        width: 100%;
        margin-bottom: 20px;
    }
}


#payment-summary {
	display: flex;
	flex-direction: column;
	max-width: 300px;
}
.payment-row {
	display: flex;
	justify-content: space-between;

}
.payment-row label {
	margin-right: 10px;
}

.checkout-content p{
    margin-top: 8px;
    margin-bottom: 10px;
}
.input, 
.col  select { 
	width: 50%; 
	border: 1px solid #ccc; 
	padding: 10px 15px 0px 10px; 
	font-size: 15px; 
    margin-bottom: 10px;
    border-radius: 5px;
} 

.col .title { 
	font-size: 20px; 
	color: rgb(237, 55, 23); 
	padding-bottom: 5px; 
} 

.col .inputBox { 
	margin: 10px 0; 
    
} 

.col .inputBox label { 
	margin-bottom: 5px; 
	display: block; 
} 

.col .inputBox input, 
.col .inputBox select { 
	width: 70%; 
	border: 1px solid #ccc; 
	padding: 10px 15px; 
	font-size: 15px; 
    border-radius: 8px;
} 

.col .inputBox input:focus, 
.col .inputBox select:focus { 
	border: 1px solid #000; 
} 

.col .flex { 
	display: flex; 
	gap: 15px; 
} 

.col .flex .inputBox { 
	flex: 1 1; 
	margin-top: 5px; 
} 

.col .inputBox img { 
	height: 34px; 
	margin-top: 5px; 
	filter: drop-shadow(0 0 1px #000); 
} 

/* again */
.modal-content1 {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#pyment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.inputBox {
    margin-bottom: 15px;
}

.inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.flex {
    display: flex;
    gap: 15px;
}

/* .state-zip {
    width: 120px;
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
} */


